@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change highlight color */
*::selection {
    @apply bg-black text-white;
}

/* Remove default scrollbar */

html &:not(.dev) &,
* {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;

    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }
}

html &:not(.dev) &,
* &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}